<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-language" content="en" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>
<body style="background: gainsboro;">
    <script src="<%= pathStatic %>/<%= vocab_dir %>/js/lib/vendors/require/require-2.1.0.js"></script>
    <script>
    <%= include("../js/lib/vendors/istats/istats.js") %>
    </script>
    <script>
        window.istats = {
            enabled: true
        }
        window.bbcFlagpoles_istats = "ON";
        window.istatsTrackingUrl = '//sa.bbc.co.uk/bbc/bbc/s?name=<%= istatsName %>&cps_asset_id=<%= cpsId %>&page_type=story';
        (function () {
            if (window.location.href.split('onbbcdomain=')[1] == 'true') {
                document.documentElement.className += ' onbbcdomain';
            }
            var hostId = window.location.href.match(/hostid=(.*)&/);
            if (hostId && hostId.length) {
                window.istatsTrackingUrl += "&iframe_host=" + encodeURI(hostId[1]);
            }
        })();
        document.write('<' + 'p style="position: absolute; top: -999em;"><' + 'img src="' + window.istatsTrackingUrl + '" height="1" width="1" alt="" /><' + '/p>');
    require(['istats-1'], function (istats) {
        istats.init();
    });
    </script>
    <noscript>
    <p style="position: absolute; top: -999em;"><img src="//sa.bbc.co.uk/bbc/bbc/s?name=<%= istatsName %>&amp;cps_asset_id=<%= cpsId %>&amp;page_type=story" height="1" width="1" alt="" /></p>
    </noscript>

    <h1>Sports finder: Find out which sports you're built for</h1>

    <p>Take 30 seconds to dash through the 13 quick questions in our sports quiz and we'll tell you which event from the Commonwealth Games is the closest match to your physical and mental abilities. We'll also suggest some you might want to steer away from.</p>
    
    <p>Enter your details below.</p>

    <%= include("index.inc.tmpl") %>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu commodo felis. Morbi venenatis justo eros, at consectetur purus consectetur nec. Nam semper magna commodo facilisis egestas. Duis tincidunt leo quis purus rutrum placerat. Ut feugiat tortor nec consequat luctus. Suspendisse sed ligula ligula. Cras sollicitudin velit non diam fermentum eleifend. Phasellus sed feugiat diam. Sed sem orci, bibendum nec pulvinar eget, ultricies id ante. Nunc feugiat accumsan sem, vel euismod eros consectetur in. Cras placerat neque aliquam, semper velit at, aliquet risus. Vivamus dignissim pellentesque cursus. In dictum enim nibh. In in est lobortis, elementum felis sed, semper libero. Sed semper eleifend egestas.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu commodo felis. Morbi venenatis justo eros, at consectetur purus consectetur nec. Nam semper magna commodo facilisis egestas. Duis tincidunt leo quis purus rutrum placerat. Ut feugiat tortor nec consequat luctus. Suspendisse sed ligula ligula. Cras sollicitudin velit non diam fermentum eleifend. Phasellus sed feugiat diam. Sed sem orci, bibendum nec pulvinar eget, ultricies id ante. Nunc feugiat accumsan sem, vel euismod eros consectetur in. Cras placerat neque aliquam, semper velit at, aliquet risus. Vivamus dignissim pellentesque cursus. In dictum enim nibh. In in est lobortis, elementum felis sed, semper libero. Sed semper eleifend egestas.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu commodo felis. Morbi venenatis justo eros, at consectetur purus consectetur nec. Nam semper magna commodo facilisis egestas. Duis tincidunt leo quis purus rutrum placerat. Ut feugiat tortor nec consequat luctus. Suspendisse sed ligula ligula. Cras sollicitudin velit non diam fermentum eleifend. Phasellus sed feugiat diam. Sed sem orci, bibendum nec pulvinar eget, ultricies id ante. Nunc feugiat accumsan sem, vel euismod eros consectetur in. Cras placerat neque aliquam, semper velit at, aliquet risus. Vivamus dignissim pellentesque cursus. In dictum enim nibh. In in est lobortis, elementum felis sed, semper libero. Sed semper eleifend egestas.</p>
</body>
</html>