<script>
    var vocabs_scaffolding = {
        "scaffold_button_results":          "<%= scaffold_button_results %>",
        "scaffold_button_return":           "<%= scaffold_button_return %>",
        "scaffold_button_reset":            "<%= scaffold_button_reset %>",
        "scaffold_button_share":            "<%= scaffold_button_share %>",
        "scaffold_results_top":             "<%= scaffold_results_top %>",
        "scaffold_results_bottom":          "<%= scaffold_results_bottom %>",
        "scaffold_results_did_you_know":    "<%= scaffold_results_did_you_know %>",
        "share_header":                     "<%= share_header %>",
        "share_message_part_1":             "<%= share_message_part_1 %>",
        "share_message_part_2":             "<%= share_message_part_2 %>",
        "share_image":						"<%= share_image %>",
        "share_url":                        "<%= share_url %>",
        "share_hashtag":                    "<%= share_hashtag %>",
        "scaffold_questions_cta":           "<%= scaffold_questions_cta %>",
        "scaffold_graph_title":             "<%= scaffold_graph_title %>",
        "scaffold_graph_cta":               "<%= scaffold_graph_cta %>",
        "scaffold_commonwealth_site_cta":   "<%= scaffold_commonwealth_site_cta %>",
        "scaffold_commonwealth_site_url":   "<%= scaffold_commonwealth_site_url %>",
        "scaffold_commonwealth_site_image": "<%= scaffold_commonwealth_site_image %>"
    };
</script>