.results_podium-icon {
    background-image: url('../img/commonwealth_sports_sprite_white.png');
    height: 50px;
    width: 60px;
    background-repeat: no-repeat;
}

.results_podium-icon--athletics_short,
.results_podium-icon--athletics_medium,
.results_podium-icon--athletics_long,
.results_podium-icon--athletics_throws,
.results_podium-icon--athletics_jumps {
    background-position: -25px 3px;
}

.results_podium-icon--badminton {
    background-position: -25px -56px;
}

.results_podium-icon--boxing {
    background-position: -25px -117px;
}

.results_podium-icon--cycling_short,
.results_podium-icon--cycling_medium,
.results_podium-icon--cycling_long {
    background-position: -25px -178px;
}

.results_podium-icon--diving {
    background-position: -25px -238px;
}

.results_podium-icon--gymnastics {
    background-position: -25px -299px;
}

.results_podium-icon--hockey {
    background-position: -25px -360px;
}

.results_podium-icon--wrestling {
    background-position: -25px -420px;
}

.results_podium-icon--lawn_bowls {
    background-position: -25px -481px;
}

.results_podium-icon--netball {
    background-position: -25px -541px;
}

.results_podium-icon--rugby {
    background-position: -25px -601px;
}

.results_podium-icon--shooting {
    background-position: -25px -660px;
}

.results_podium-icon--squash {
    background-position: -25px -721px;
}

.results_podium-icon--swimming_short,
.results_podium-icon--swimming_medium,
.results_podium-icon--swimming_long {
    background-position: -25px -781px;
}

.results_podium-icon--hockey {
    background-position: -25px -360px;
}

.results_podium-icon--table_tennis {
    background-position: -25px -842px;
}

.results_podium-icon--triathlon {
    background-position: -25px -900px;
}

.results_podium-icon--weightlifting {
    background-position: -25px -963px;
}

.results_podium-icon--judo {
    background-position: -25px -1021px;
}